##Convert the spark dataframe to pandas dataframe

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName('ToPandas').getOrCreate()

In [0]:
data = [('Shikha',"", "Kumari", 170997,"F",2700000),
        ('Shailza',"", "Kumari",310399,"F",5000000),
        ('Shyama',"", "Kumari", 100997,"F",2700000),
        ('Sweeti',"", "Kumari", 200991,"F",5500000)
        ]
columns = ["FirstName", "MiddleName", "LastName", "dob", "gender", "salary"]
pySparkDf = spark.createDataFrame(data = data, schema = columns)

In [0]:
pySparkDf.printSchema()

root
 |-- FirstName: string (nullable = true)
 |-- MiddleName: string (nullable = true)
 |-- LastName: string (nullable = true)
 |-- dob: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
pySparkDf.show(truncate=False)

+---------+----------+--------+------+------+-------+
|FirstName|MiddleName|LastName|dob   |gender|salary |
+---------+----------+--------+------+------+-------+
|Shikha   |          |Kumari  |170997|F     |2700000|
|Shailza  |          |Kumari  |310399|F     |5000000|
|Shyama   |          |Kumari  |100997|F     |2700000|
|Sweeti   |          |Kumari  |200991|F     |5500000|
+---------+----------+--------+------+------+-------+

In [0]:
pandasDf = pySparkDf.toPandas()

In [0]:
print(pandasDf)

  FirstName MiddleName LastName     dob gender   salary
0    Shikha              Kumari  170997      F  2700000
1   Shailza              Kumari  310399      F  5000000
2    Shyama              Kumari  100997      F  2700000
3    Sweeti              Kumari  200991      F  5500000

## Convert spark nested struct dataframe to pandas dataframe

In [0]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [0]:
dataStruct = [(('Shikha',"", "Kumari"), 170997,"F",2700000),\
        (('Shailza',"", "Kumari"),310399,"F",5000000),\
        (('Shyama',"", "Kumari"), 100997,"F",2700000),\
        (('Sweeti',"", "Kumari"), 200991,"F",5500000)
        ]

In [0]:
schemaStruct = StructType([
    StructField("name", StructType([
        StructField("firstName", StringType(), True),
        StructField("middleName", StringType(), True),
        StructField("lastName", StringType(), True)
                                    ])),
    StructField("dob", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("Salary", StringType(), True)
                           ])

In [0]:
pySparkStructDf = spark.createDataFrame(data=dataStruct, schema=schemaStruct)

In [0]:
pySparkStructDf.printSchema()

root
 |-- name: struct (nullable = true)
 |    |-- firstName: string (nullable = true)
 |    |-- middleName: string (nullable = true)
 |    |-- lastName: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- Salary: string (nullable = true)

In [0]:
pySparkStructDf.show()

+-------------------+------+------+-------+
|               name|   dob|gender| Salary|
+-------------------+------+------+-------+
| {Shikha, , Kumari}|170997|     F|2700000|
|{Shailza, , Kumari}|310399|     F|5000000|
| {Shyama, , Kumari}|100997|     F|2700000|
| {Sweeti, , Kumari}|200991|     F|5500000|
+-------------------+------+------+-------+

In [0]:
pandasStructDf = pySparkStructDf.toPandas()

In [0]:
print(pandasStructDf)

                                                name     dob gender   Salary
0  {'firstName': 'Shikha', 'middleName': '', 'las...  170997      F  2700000
1  {'firstName': 'Shailza', 'middleName': '', 'la...  310399      F  5000000
2  {'firstName': 'Shyama', 'middleName': '', 'las...  100997      F  2700000
3  {'firstName': 'Sweeti', 'middleName': '', 'las...  200991      F  5500000

In [0]:
pySparkDf.show()

+---------+----------+--------+------+------+-------+
|FirstName|MiddleName|LastName|   dob|gender| salary|
+---------+----------+--------+------+------+-------+
|   Shikha|          |  Kumari|170997|     F|2700000|
|  Shailza|          |  Kumari|310399|     F|5000000|
|   Shyama|          |  Kumari|100997|     F|2700000|
|   Sweeti|          |  Kumari|200991|     F|5500000|
+---------+----------+--------+------+------+-------+